/* hack para convertir 1 rem a 10 px
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;1 rem = 10 px
}
*/
:root{
    --blanco : #ffffff;
    --oscuro: #21212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;

}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem = 10 px*/
}

.titulo{
    text-align: center;
    font-size: 2rem ;
    color: var(--primario);
    font-family: 'Kanit', sans-serif;;

}
.titulo span{
    font-size: 1.7rem;
}