/* hack para convertir 1 rem a 10 px
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;1 rem = 10 px
}
*/
:root{
    --blanco : #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris:#757575;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem = 10 px*/
    font-family: 'Kanit', sans-serif;;
    margin: 0;
}

.titulo{
    text-align: center;
    font-size: 2rem ;
    color: var(--primario);
    font-weight:700 ;
}
.navegacion-principal{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
       
     }
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}
@media (min-width: 768px) {
    
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.nav_bg{
    background-color: var(--secundario);
}
.contenedor{
    max-width: 60rem;
    margin: 0 auto  ;
}
.titulo span{
    font-size: 1.7rem;
}
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}